<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}   {% endblock %} </title>
    </head>
    <body>
        <ul>

            <li><a href="/">Main</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/clients/1/ordered_products/30/">Product list</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
    </html>

